@model Decibel.Models.Album

@{
    ViewData["Title"] = "Create";
}

<div>

    <h1>Objava Albuma</h1>

    <div class="kreiraj-pjesmu-div">
        <div style="width: 100%;" id="detalji-pjesme-div">
            <h4>Detalji Pjesme</h4>

            <form id="forma" asp-action="Create" enctype="multipart/form-data" style="display: flex; flex-direction: column;">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="naziv" class="control-label"></label>
                    <input asp-for="naziv" class="form-control" required />
                    <span asp-validation-for="naziv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="opis" class="control-label"></label>
                    <input asp-for="opis" class="form-control" />
                    <span asp-validation-for="opis" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
                </div>

                <div class="form-group">
                    <label asp-for="GifFile" class="control-label"></label>
                    <input asp-for="GifFile" type="file" class="form-control" accept="image/*" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" form="forma" />
                </div>


            </form>
        </div>
        <div style="width: 100%;" id="dodaj-izvodjace-div">
            @await Html.PartialAsync("_PjesmaSelekcijaPartialView", false)
        </div>
        
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</div>
