@model List<Decibel.ViewModels.PlayListaViewModel>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="selectedTrackId" value="" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj u Playlistu</h5>
            </div>
            <div class="modal-body">
                @if (Model != null && Model.Any())
                {
                    <div class="list-group">
                        @foreach (var playlist in Model)
                        {
                            <button type="button"
                                    class="list-group-item list-group-item-action"
                                    onclick="addToPlaylist(@playlist.ID)">
                                @playlist.Title
                            </button>
                        }
                    </div>
                }
                else
                {
                    <p>Nema Playlisti</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <a class="btn btn-primary" href="/PlayLista/Create">Kreiraj Novu Playlistu</a>
            </div>
        </div>
    </div>
</div>

